<!DOCTYPE html>
<html>
<head>
  <title>Chuckle</title>

  <%= stylesheet_link_tag    'application', media: 'all' %>
 <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>

  <%= javascript_include_tag 'application'  %>
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/geocomplete/1.6.5/jquery.geocomplete.js"></script>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container">
  <div class="row">
    <%= yield %>
</div>
</div>


</body>
 <script>
  $( document ).ready(function() {
  console.log("mrat")
  $("#address").geocomplete();
  $.fn.geocomplete("input");
  });
  </script>
</html>
